@media screen and (max-width: 280px) {
    .gal-hidden {
        display: none;
    }

    .gal-seen {
        display: flex;
    }
}

@media screen and (min-width: 281px) and (max-width: 540px) {
    .mob-hidden {
        display: none;

    }

    .mob-seen {
        display: flex;

    }
}

@media screen and (min-width: 541px) and (max-width: 1000px) {
    .tab-hidden {
        display: none;

    }

    .tab-seen {
        display: flex;

    }
}

@media screen and (min-width: 1001px) {
    .dt-hidden {
        display: none;

    }

    .dt-seen {
        display: flex;

    }
}


@media screen and (min-width: 540px) and (max-width: 600px) {
    #arearesponsive__container {
        background-color: black;
        font-size: 1.5vh;
        height: 76vh !important;
        padding-top: 9vh;
        width: 100vw !important;
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    #arearesponsive__container {
        background-color: black;
        font-size: 1.5vh;
        height: 75vh !important;
        padding-top: 9vh;
        width: 100vw !important;
    }
}

@media screen and (min-width: 900px) and (min-height: 1000px) {
    #arearesponsive__container {
        background-color: black;
        font-size: 1.5vh;
        height: 75.5vh !important;
        padding-top: 9vh;
        width: 100vw !important;
    }
}

@media screen and (min-width: 900px) and (max-height: 999px) {
    #arearesponsive__container {
        background-color: black;
        font-size: 1.5vh;
        height: fit-content !important;
        padding-top: 9vh;
    }
}

@media screen and (max-width: 280px) {

    #arearesponsive__container {
        background-color: black;
        font-size: 0.8rem;
        height: 74vh !important;
        padding-top: 10vh;
        width: 100vw !important;
    }
}

@media screen and (max-width: 539px) {
    #arearesponsive__container {
        background-color: black;
        font-size: 0.8rem;
        height: 74vh !important;
        padding-top: 10vh;
        width: 100vw !important;
    }
}

.recharts-surface {
    background-color: black !important;
}

// svg {
//     height: 100% !important;
// }

@media screen and (max-height: 731px) and (min-width: 281px) {
    #arearesponsive__div {
        height: 76vh;
        width: 95vw;
    }
}

@media screen and (min-height: 732px) and (max-height: 735px) {
    #arearesponsive__div {
        height: 78vh;
        width: 95vw;
    }
}

// iphone 6/7/8 plus

@media screen and (min-height: 736px) and (max-height: 800px) {
    #arearesponsive__div {
        height: 76vh;
        width: 95vw;
    }
}

// px 2 xl
// iphone x

@media screen and (min-height: 801px) and (max-height: 823px) and (min-width: 411px) {
    #arearesponsive__div {
        height: 78vh;
        width: 95vw;
    }
}

@media screen and (min-height: 801px) and (max-height: 823px) {
    #arearesponsive__div {
        height: 79vh;
        width: 95vw;
    }
}