// .rechart-wrapper {
//     background-color: black !important;
// }

// .recharts-cartesian-grid {
//     width: 500px;
//     height: 500px;
// }

@media screen and (max-width: 539px) {
    #simple__scatterchart__container {
        position: absolute;
        background-color: black;
        font-size: 11px !important;
        // padding-top: 10vh;
        min-height: fit-content;
    }
}

@media screen and (min-width: 540px) and (max-width: 767px) {
    #simple__scatterchart__container {
        background-color: black;
        font-size: 11px !important;
        padding-top: 10vh;
        min-height: fit-content;
    }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    #simple__scatterchart__container {
        background-color: black;
        font-size: 11px !important;
        padding-top: 10vh;
        min-height: fit-content;
    }

}

@media screen and (min-width: 1025px) {
    #simple__scatterchart__container {
        background-color: black;
        font-size: 11px !important;
        // padding-top: 10vh;
    }

}

@media screen and (min-width: 639px) {
    #mobile {
        display: none !important;
    }
}